<h1>New Ruby Datum</h1>

<%= form_with scope: :ruby_datum, local: true, url: ruby_data_path do |form| %>
    <%= form.label :valInput %> <%= form.text_field :valInput %>
    <%=form.submit("Criar") %> <%end%>

<%= link_to 'Back', ruby_data_path %>
