<p id="notice"><%= notice %></p>

<p>
  <strong>Valinput:</strong>
  <%= @ruby_datum.valInput %>
</p>

<p>
  <strong>Rubytype:</strong>
  <%= @ruby_datum.rubyType %>
</p>

<%= link_to 'Edit', edit_ruby_datum_path(@ruby_datum) %> |
<%= link_to 'Back', ruby_data_path %>
